<form
  [formGroup]="projectForm"
  class="deprecated-form-layout select-label-font-size-16"
>
  <div class="margin-30">
    <h2 mat-dialog-title class="row-flex">
      <span class="title">Add Project</span>
    </h2>
    <div class="deprecated-two-columns">
      <div class="columns-flex">
        <input
          class="input"
          type="text"
          matInput
          formControlName="name"
          placeholder="Name"
        />
        <input
          matInput
          class="input"
          type="text"
          formControlName="site_name"
          placeholder="Site Name"
        />
        <input
          matInput
          class="input"
          type="text"
          formControlName="img_url"
          placeholder="Image Url"
        />
        <div>
          <button
            mat-raised-button
            class="btn comment-btn"
            (click)="addComment()"
          >
            <b>Add comment +</b>
          </button>
        </div>
      </div>

      <div class="columns-flex">
        <mat-form-field>
          <!-- <mat-label>Choose a date</mat-label> -->
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- <div  class="checkbox"> -->
          <mat-checkbox
          class="checkbox"
          [checked]="flag"
        >
        </mat-checkbox>
        <!-- </div> -->
      </div>
    </div>
    <div class="row-flex">
      <button
        mat-raised-button
        type="submit"
        class="btn blue-button"
        (click)="submit()"
      >
        Save
      </button>
      <button class="btn" mat-button>
        <a routerLink="/projects"> Cancel </a>
      </button>
    </div>
  </div>
</form>
<!-- <div class="dialog">
  <button mat-raised-button (click)="showDialog()" color="primary">Show Dialog</button>
</div> -->
