.deprecated-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}

.blue-button{
    background-color: #225c73;
    color: white;
}

.deprecated-form-layout {
    font-family: cursive;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    height: 500px;
    mat-form-field,
    .at-custom-form-field,
    mat-chip-list {
      padding-bottom: 40px;
      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
  input, textarea{
        width: 200px;
        border-bottom: 1px solid black; 
    }
