.header{
    height: 150px;
    .title{
        background-color: #225c73;
        color: white;
        text-align: center;
        line-height: 2.5;
        font-size: 50px;
        font-weight: bold;
        }
}

.main{
    // height: 760px;
}