body{
    margin: 0px;
}

.row-flex{
    display: flex;
}

.columns-flex{
    display: flex;
    flex-direction: column;
}

.margin-left-auto {
    margin-left: auto !important;
}

.margin-30{
    margin: 30px;
}

.btn{
    margin-right: 20px !important;
    margin-top: 20px impo;
    width: 150px;
}

.font-cursive{
    font-family: cursive;
}
  