body html{
  // height: 100%;
}

body {
  margin: 0px;
}

.row-flex {
  display: flex;
  // margin-top: 50px;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.margin-left-auto {
  margin-left: auto !important;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 3;
  background-color: lightgrey;
  display: flex;
}

.margin-30 {
  margin: 30px;
}

.margin-left-50 {
  margin-left: 50px;
}

.btn {
  margin-right: 20px !important;
  margin-top: 60px !important;
  width: 150px;
  cursor: pointer !important;
}

.no-decoration{
  text-decoration: none;
}

.font-cursive {
  font-family: cursive;
  font-size: 16px;
}

.blue-button {
  background-color: #225c73 !important;
  color: white;
}

mat-calendar {
  margin: auto !important;
  background-color: "buttonface" !important;
}

mat-label{
  line-height: 3;
}

mat-form-field{
  margin-left: 15px;
  float: right;
  border-bottom: 1px solid black;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.input-container{
  width: 300px;
  margin-top: 30px;
  // height: 80px;
}
